.btn {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn:hover {

}

.btn-create {
    background-color: #6853df;
    color: white;
}

.btn-view {
    background-color: #14bb05;
    color: white;
}

.span {
    margin: 0 5px;
}