.tab-group {
    display: flex;
}

.tab {
    width: 70px;
    height: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    border-radius: 7px 7px 0 0;
    cursor: pointer;
}

th, td {
    font-size: 13px;
}

.tbl-infor {}

